
<div class="container d-flex justify-content-center align-items-center vh-100 flex-column">      
  <h2 >Make  Your Account</h2>
  <p>Unlock the door to a world of endless shopping possibilities. Your favorite items are just a login away!</p>    

    <form [formGroup]="registerForm" (ngSubmit)="handleFormSubmit()"  class="border border-2 p-5 rounded-3">
      <div class="mb-3">
        
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" aria-describedby="nameHelp" formControlName="name">
        <div id="name" class="form-text text-danger">  
        @if (registerForm.controls['name'].invalid && registerForm.controls['name'].touched) {
            <small>This field is required</small>
          }
        </div>

        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email">
        <div id="email" class="form-text text-danger">  
            @if (registerForm.controls['email'].invalid && registerForm.controls['email'].touched) {
                @if (registerForm.controls['email'].errors?.['required']) {
                    <small>This field is required</small>
                }
                @if (registerForm.controls['email'].errors?.['email']) {
                    <small>Match: example&#64;domain.com</small>
                }
              }
            </div>

        <label for="username" class="form-label">User Name</label>
        <input type="text" class="form-control" id="username" aria-describedby="usernameHelp" formControlName="username">
        <div id="username" class="form-text text-danger">  
            @if (registerForm.controls['username'].invalid && registerForm.controls['username'].touched) {
                @if (registerForm.controls['username'].errors?.['required']) {
                    <small>This field is required</small>
                }
                @if (registerForm.value.username.includes(' ')) {
                    <small>The username shouldn't contain space</small>
                }
              }
            </div>
       
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" aria-describedby="passwordHelp" class="form-control" id="exampleInputPassword1" formControlName="password">
        <div id="password" class="form-text text-danger">  
            @if (registerForm.controls['password'].invalid && registerForm.controls['password'].touched) {
                @if (registerForm.controls['password'].errors?.['required'] && !registerForm.get('password')?.value)  {
                    <small>This field is required</small>
                }
                @if (registerForm.controls['password'].hasError('passwordRequirements') && registerForm.get('password')?.value) {
                    <small>Password must have at least 8 characters, one lowercase letter, one uppercase letter, one digit, and one special character [*%$#]</small>
                  }
              }
            </div>

            <label for="confirm" class="form-label">Confirm Password</label>
            <input type="password" aria-describedby="passwordHelp" class="form-control" id="confirm" formControlName="confirm">
            <div id="confirm" class="form-text text-danger">
                @if (registerForm.controls['confirm'].invalid && registerForm.controls['confirm'].touched) {
                  @if (registerForm.controls['confirm'].errors?.['required']) {
                    <small>This field is required</small>
                  }
                  @if (registerForm.controls['confirm'].errors?.['passwordMismatch']) {
                    <small>Passwords do not match</small>
                  }
                }
              </div>
      
        
      
    </div>
      
      <div class="d-flex justify-content-center mb-3"> 
        <button type="submit" class="btn ">Register</button>
      </div>
      <div class="d-flex justify-content-center mb-3">
        <p>Already Have Account!! <a  routerLink="/login-page">Login</a></p>
      </div>
    </form>
</div>
